* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    background-color: #4CAF50;
    color: white;
    padding: 10px 0;
    justify-content: center;
    text-align: center;
}
main-nav {
    background-color: #f4f4f4;
    padding: 15px;
}
main nav ul {
    list-style-type: circle;
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: left;
}
main nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}